---
import "./styles.css";

export type Props = {
  pageTitle?: string;
};
const { pageTitle } = Astro.props;
const { origin } = Astro.url;

const { PUBLIC_BASE_PATH, PUBLIC_SITE_TITLE } = import.meta.env;

const title = pageTitle
  ? `${pageTitle} | ${PUBLIC_SITE_TITLE}`
  : PUBLIC_SITE_TITLE;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="leaysgur" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={origin} />
    <meta property="og:title" content={title} />
    <!-- TODO: Remove later -->
    <meta name="robots" content="none" />
    <title>{title}</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href={PUBLIC_BASE_PATH + "/favicon.svg"}
    />
  </head>
  <body>
    <header>
      <a href={PUBLIC_BASE_PATH + "/"}>🏠</a>
    </header>

    <slot />

    <footer>
      <a href="https://github.com/leaysgur">GitHub</a>
      {" | "}
      <a href="https://twitter.com/leaysgur">X(Twitter)</a>
    </footer>
  </body>
</html>
