---
import "./styles.css";

export type Props = {
  pageTitle?: string;
};
const {
  props: { pageTitle },
  url: { origin, href },
} = Astro;

const { PUBLIC_BASE_PATH, PUBLIC_SITE_TITLE } = import.meta.env;

const ASSETS_FULL_PATH = origin + PUBLIC_BASE_PATH;

const title = pageTitle
  ? `${pageTitle} | ${PUBLIC_SITE_TITLE}`
  : PUBLIC_SITE_TITLE;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={href} />
    <meta property="og:image" content={ASSETS_FULL_PATH + "ogp.png"} />
    <link rel="canonical" href={href} />
    <link
      rel="icon"
      type="image/svg+xml"
      href={ASSETS_FULL_PATH + "favicon.svg"}
    />
  </head>
  <body>
    <header>
      <a href={PUBLIC_BASE_PATH} title={PUBLIC_SITE_TITLE}>🧊</a>
      <nav>
        <a href={PUBLIC_BASE_PATH + "archive" + "/"}>All Posts</a>
        {" | "}
        <a href={PUBLIC_BASE_PATH + "rss.xml"}>RSS</a>
      </nav>
    </header>

    <main><slot /></main>

    <footer>
      <span>
        ✨ Follow me on <a href="https://github.com/leaysgur" target="_blank"
          >GitHub</a
        >, <a href="https://twitter.com/leaysgur" target="_blank">X(Twitter)</a>
      </span>
    </footer>
  </body>
</html>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }
  main {
    padding-block: var(--size-5);
  }
  footer {
    display: flex;
    justify-content: end;
  }
</style>
