---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { toPath } from "../libs/utils";
import RootLayout from "../components/root-layout/index.astro";
import PostBodyV1 from "../components/post-body/v1.astro";
import PostBodyV2 from "../components/post-body/v2.astro";

export const getStaticPaths = async () => {
  const [allPostsV1, allPostsV2] = await Promise.all([
    getCollection("posts-v1"),
    getCollection("posts-v2"),
  ]);

  return [
    ...allPostsV1.map((post) => ({
      params: { path: toPath(post.id) },
      props: { entry: post },
    })),
    ...allPostsV2.map((post) => ({
      params: { path: toPath(post.slug) },
      props: { entry: post },
    })),
  ];
};

export type Props = {
  entry: CollectionEntry<"posts-v1"> | CollectionEntry<"posts-v2">;
};
const {
  params: { path },
  props: { entry },
} = Astro;

let v1HtmlString;
let v2RenderedEntry;
if ("render" in entry) {
  v2RenderedEntry = await entry.render();
} else {
  v1HtmlString = entry.data.html;
}

const { title } = entry.data;
const [yyyy, mm, dd] = path!.split("/");
---

<RootLayout pageTitle={title}>
  <article>
    <header>
      <h1>{title}</h1>
      <time datetime={`${yyyy}-${mm}-${dd}`}>{yyyy}/{mm}/{dd}</time>
    </header>

    {
      v2RenderedEntry && (
        <PostBodyV2
          editLink={`https://github.com/leaysgur/posts/edit/main/src/content/${entry.collection}/${entry.id}`}
        >
          <v2RenderedEntry.Content />
        </PostBodyV2>
      )
    }
    {
      v1HtmlString && (
        <PostBodyV1>
          <Fragment set:html={v1HtmlString} />
        </PostBodyV1>
      )
    }
  </article>
</RootLayout>

<style>
  header {
    padding-block-end: var(--size-2);
    border-block-end: var(--size-0) solid var(--border);
  }
  header h1 {
    margin-block-end: var(--size-2);
  }
</style>
