---
export type Props = {
  path: string;
  title: string;
};
const { path, title } = Astro.props;

const [yyyy, mm, dd] = path.split("/");
---

<li>
  <div>
    <time datetime={`${yyyy}-${mm}-${dd}`}>{yyyy}/{mm}/{dd}</time>
    <h2>
      <a href={path}>{title}</a>
    </h2>
  </div>
</li>

<style>
  h2 {
   margin-block: 0;
  }
</style>
